{{!-- <div>
    <h1>Hello there!!</h1>
<hr>
    <div>
        <h3>Want to connect to like minded people?? We are here to connect!!</h3> 
         <a class="btn btn-primary" href="/signup" role="button">Join Friendzone!!</a>
    </div>
    <a class="btn btn-primary" href="/signup" role="button">Join Friendzone!!</a>
    
</div> --}}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
 
    <!-- Page Content -->
   <div class="container page-top">
       <div class="row">
  
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="https://www.twopeasandtheirpod.com/wp-content/uploads/2019/06/Easy-Green-Salad-4.jpg" class="fancybox" rel="ligthbox">
                    <img  src="https://www.twopeasandtheirpod.com/wp-content/uploads/2019/06/Easy-Green-Salad-4.jpg" class="zoom img-fluid "  alt="">
                   
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="https://www.rei.com/dam/vagnini_181016_2024_hiking_beginners_hero_lg.jpg"  class="fancybox" rel="ligthbox">
                    <img  src="https://www.rei.com/dam/vagnini_181016_2024_hiking_beginners_hero_lg.jpg" class="zoom img-fluid"  alt="">
                </a>
            </div>
            
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="https://asset---north-carolina.bldg15.net/img/a/1/a17ae398-46a5-4eed-ac00-40e29bb02427/Cub%20Creek%20Mountain%20Bike%20Trails%20with%20Two%20People%20Cycling-fit(1000,600).75ff18e5.jpg" class="fancybox" rel="ligthbox">
                    <img  src="https://asset---north-carolina.bldg15.net/img/a/1/a17ae398-46a5-4eed-ac00-40e29bb02427/Cub%20Creek%20Mountain%20Bike%20Trails%20with%20Two%20People%20Cycling-fit(1000,600).75ff18e5.jpg" class="zoom img-fluid "  alt="">
                </a>
            </div>
            
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                    <img  src="https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid "  alt="">
                </a>
            </div>
            
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="https://images.pexels.com/photos/1038914/pexels-photo-1038914.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="fancybox" rel="ligthbox">
                    <img  src="https://images.pexels.com/photos/1038914/pexels-photo-1038914.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid "  alt="">
                </a>
            </div>
            
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="https://images.pexels.com/photos/414645/pexels-photo-414645.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="fancybox" rel="ligthbox">
                    <img  src="https://images.pexels.com/photos/414645/pexels-photo-414645.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid "  alt="">
                </a>
            </div>
            
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="https://kslnewsradio.com/wp-content/uploads/2020/04/GettyImages-1134719594-e1585846313969.jpg" class="fancybox" rel="ligthbox">
                    <img  src="https://kslnewsradio.com/wp-content/uploads/2020/04/GettyImages-1134719594-e1585846313969.jpg" class="zoom img-fluid "  alt="">
                </a>
            </div>
            
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="https://img.favpng.com/9/5/5/silhouette-dance-clip-art-png-favpng-A0yYxP7k14tWJQ6Erg2VdJ4MM.jpg" class="fancybox" rel="ligthbox">
                    <img  src="https://img.favpng.com/9/5/5/silhouette-dance-clip-art-png-favpng-A0yYxP7k14tWJQ6Erg2VdJ4MM.jpg" class="zoom img-fluid "  alt="">
                </a>
            </div>    
       </div>
        <div>
        <h3>Want to connect with like minded people? We can help you connect!</h3> 
         <a class="btn btn-primary" href="/signup" role="button">Join Friendzone!!</a>
    </div>
    </div>

<script src="/javascript/homepage.js"></script>