
<div class="login-container">
    <div class="row">
        <div class="col-md-offset-5 col-md-5 login-form-wrapper">
            <div class="form-login">
            <h4>Login</h4>
            </br>
            <input type="text" id="email-login" class="form-control input-sm chat-input" placeholder="email" />
            </br>
            <input type="password" id="password-login" class="form-control input-sm chat-input" placeholder="password" />
            </br>
            <div class="wrapper">
              <span class="group-btn">     
                <a href="#" class="btn btn-primary" id ="submit">LOGIN</a>
              </span>
            <div class="container signin">
              <p>Don't have an account yet?<a href="/signup">Join us</a>.</p>
            </div>
            </div>
            </div>
        </div>
    </div>
</div>


<script src="/javascript/login.js"></script>