
{{!--  signup hbr begins --}}

<div class="signup-container">
    <div class="row">
        <div class="col-md-offset-5 col-md-5 signup-form-wrapper">
            <div class="form-signup">
            <h4>Join us today!</h4>
            <p>Please fill in this form to create an account with us.</p>
            <input type="text" id="username" class="form-control input-sm chat-input" placeholder="username" />
            <small id="usernamelHelp" class="form-text help-text">* Your Nickname</small>
            </br>
            <input type="email" id="email" class="form-control input-sm chat-input" placeholder="email" />
            <small id="emailHelp" class="form-text help-text">* We'll never share your email with anyone else.</small>
            </br>
            <input type="password" id="psw" class="form-control input-sm chat-input" placeholder="password" />
            <small id="passwordHelp" class="form-text help-text">* Password must be 6 characters long</small>
            </br>
            <div class="wrapper">
              <span class="group-btn">     
                <a href="#" class="btn btn-primary" id="submit">Next</a>
              </span>
            <div class="container signin">
              <p>Already have an account?<a href="/login">Login</a>.</p>
            </div>
            </div>        
        </div>
    </div>
</div>   

<script src="/javascript/signup.js"></script>

