{{!-- <div class="signup-container">
    <div class="row">
        <div class="col-md-offset-5 col-md-5 signup-form-wrapper">
            <div class="form-signup">
            <h4>Join us today!</h4>
            <input type="text" id="username-signup" class="form-control input-sm chat-input" placeholder="Nickname" />
            </br>
            <input type="text" id="email-signup" class="form-control input-sm chat-input" placeholder="email" />
            </br>
            <input type="password" id="password-signup" class="form-control input-sm chat-input" placeholder="password" />
            <small id="passwordHelp" class="form-text help-text">* Password must be 6 characters long</small>
            </br>
            <div class="wrapper">
            <span class="group-btn">     
            <a href="#" class="btn btn-primary btn-md" id="submit">Next</a>
            </span>
            <a href="/login">Log in instead</a>
            </div>
            </div>        
        </div>
    </div>
</div> --}}
{{!-- Signup - Page1 Begins... --}}
 <div class="container">
    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Your Nickname" name="username" id="username" required>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="you@example.com" name="email" id="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
    <small id="passwordHelpInline" class="text-muted">
        Must be 8-20 characters long.
    </small><hr>

    

{{!--     
    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
    <button type="submit" class="nextbtn">Next</button>
  </div>

  <div class="container signin">
    <p>Already have an account? <a href="#">Sign in</a>.</p>
  </div> --}}

  {{!-- Signup - Page1 Ends... --}}

  {{!-- Signup - Page2 Begins... --}}
  <form class="questionnare-form">

  {{!-- Select Interests --}}
        <label for="interest"><b>Interests</b></label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Hiking</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">Biking</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <label class="form-check-label" for="inlineCheckbox3">Cooking</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
            <label class="form-check-label" for="inlineCheckbox4">Photography</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
            <label class="form-check-label" for="inlineCheckbox5">Sports</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option6" checked>
            <label class="form-check-label" for="inlineCheckbox6">None</label>
        </div>
         <small id="interestHelpInline" class="text-muted">
             You may select one or all
    </small><hr>
  {{!-- Enter Age   --}}
        <div>
            <label for="Age">Age:</label>
            <input type="date" id="age" name="age">
        </div>
         <small id="ageHelpInline" class="text-muted">
             Select your birthday
         </small><hr>
  {{!-- Select Gender --}}
         <label for="Gender">Gender:</label>
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" >
        <label class="form-check-label" for="inlineRadio1">Female</label>
        </div>
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">Male</label>
        </div>
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
        <label class="form-check-label" for="inlineRadio3">Non-Binary</label>
        </div>
         <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4" checked>
        <label class="form-check-label" for="inlineRadio3">Choose Not to Say</label>
        </div>

        {{!-- Enter Bio  --}}
         <label for="bio">Bio :</label>
        <div class="input-group">
        <textarea class="form-control" placeholder="Tell me more about yourself..." aria-label="With textarea"></textarea>
        </div>

        {{!-- Upload your profile pic  --}}
        <label for="Profile-Picture">Profile-Picture :</label>
        <div class="container">
            <div class="picture-container">
                <div class="picture">
                    <img src="https://lh3.googleusercontent.com/LfmMVU71g-HKXTCP_QWlDOemmWg4Dn1rJjxeEsZKMNaQprgunDTtEuzmcwUBgupKQVTuP0vczT9bH32ywaF7h68mF-osUSBAeM6MxyhvJhG6HKZMTYjgEv3WkWCfLB7czfODidNQPdja99HMb4qhCY1uFS8X0OQOVGeuhdHy8ln7eyr-6MnkCcy64wl6S_S6ep9j7aJIIopZ9wxk7Iqm-gFjmBtg6KJVkBD0IA6BnS-XlIVpbqL5LYi62elCrbDgiaD6Oe8uluucbYeL1i9kgr4c1b_NBSNe6zFwj7vrju4Zdbax-GPHmiuirf2h86eKdRl7A5h8PXGrCDNIYMID-J7_KuHKqaM-I7W5yI00QDpG9x5q5xOQMgCy1bbu3St1paqt9KHrvNS_SCx-QJgBTOIWW6T0DHVlvV_9YF5UZpN7aV5a79xvN1Gdrc7spvSs82v6gta8AJHCgzNSWQw5QUR8EN_-cTPF6S-vifLa2KtRdRAV7q-CQvhMrbBCaEYY73bQcPZFd9XE7HIbHXwXYA=s200-no" class="picture-src" id="wizardPicturePreview" title="">
                    <input type="file" id="wizard-picture" class="">
                </div>
                <h6 class="">Choose Picture</h6>

            </div>
        </div>

        {{!-- Enter Contact info --}}
        <label for="example-tel-input">Contact Number:</label>
        <div>
            <input class="form-control" type="tel" placeholder="1-(555)-555-5555" id="example-tel-input">
        </div>

        <div>
            <button type="submit" class="nextbtn">Next</button>
        </div>

<script language="JavaScript" type="text/javascript" src="/js/jquery-1.2.6.min.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/jquery-ui-personalized-1.5.2.packed.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/javascript/signup.js"></script>
