{{> auth-user-navbar}}

{{!multipart/form-data: No characters are encoded. 
This value is required when you are using forms that have a file upload control }}
<form method="post" enctype="multipart/form-data">
  <input type="file" name="file"/>
  <input type="submit" value="Upload Files" name="submit" />
</form>
<p id="data"></p>
<script src="/javascript/upload-img.js"></script>