/* Landing page styling */
body {
    background-color:lightyellow !important;
    font-family: "Asap", sans-serif;
    color:#989898;
    margin:10px;
    font-size:16px;
  }
  
  #demo {
    height:100%;
    position:relative;
    overflow:hidden;
  }
  
  
  .green{
    background-color:#6fb936;
  }
          .thumb{
              margin-bottom: 30px;
          }
          
          .page-top{
              margin-top:85px;
          }
    
  img.zoom {
      width: 100%;
      height: 200px;
      border-radius:5px;
      object-fit:cover;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
  }
          
   
  .transition {
      -webkit-transform: scale(1.2); 
      -moz-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
  }
      .modal-header {
     
       border-bottom: none;
  }
      .modal-title {
          color:#000;
      }
      .modal-footer{
        display:none;  
      }
  

    /* Login and signup styling */
@import url(http://fonts.googleapis.com/css?family=Roboto:400);
.form-login body,
.form-signup body {
  -webkit-font-smoothing: antialiased;
}
.login-container,
.signup-container,
.questionnare-container,
.moreInfo-container
 {
  padding-top: 3%;
  padding-bottom: 5%;
}

.login-form-wrapper,
.signup-form-wrapper,
.questionnare-form-wrapper ,
.moreInfo-form-wrapper
{
  margin: 0 auto;
  width: 80%; /* value of your choice which suits your alignment  */
}

.form-login,
.form-signup,
.form-questionnare,
.form-moreInfo
{
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  border-color: #d2d2d2;
  border-width: 5px;
  box-shadow: 0 1px 0 #cfcfcf;
}

.form-login h4,
.form-signup h4,
.form-questionnare h4{
  font-size: xsx-large;
  border-bottom-width: 1px;
  text-align: center;
  padding-top: 20pt;
}

.form-signup p ,
.form-questionnare p{
  font-size : small;
}
#username,
#email {
  margin-top: 20px;
}

.form-login .form-control,
.form-signup .form-control,
.form-questionnare .form-control {
  border-radius: 10px;
}

.form-login .wrapper,
.form-signup .wrapper,
.form-questionnare .wrapper
{
  text-align: center;
}

.form-login .group-btn,
.form-signup .group-btn,
.form-questionnare .group-btn {
  padding-bottom: 20pt;
}

.btn-primary {
  border-color: black !important;
  color: black !important;
  font-weight: bolder !important;
  padding-top: 10%;
}

.form-login .wrapper > a,
.form-signup .wrapper > a
.form-questionnare .wrapper > a  {
  color: black;
  background: #65a7a6e8;
  font-weight: bolder;
  padding: 10px;
}

.help-text {
  color: maroon !important;
  font-size: small;
}

/*  Partials - Display username */
.display_username h3{
  padding-top: 3%;
  text-align: center;
}

/* Moreinfo Styling */

btn .nextbtn {
  background-color: blue;
  border-color: black !important;
  color: black !important;
  font-weight: bolder !important;
  padding-top: 10%;
}

.last-txt {
  padding-top: 3%;
  text-align: center;
}